* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

.input-element {
    padding: 1em;
}